* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.points-label {
  font-weight: 700;
  margin: 30px 0 10px 0;
  font-size: 40px;
  text-shadow: 0px 5px 5px rgba(150, 150, 150, 1);
}

.plus-stats {
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

.big-btn {
  padding: 20px;
  background: #000;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.menu-btn {
  padding: 10px 2px 4px 2px;
  color: #30a3f2;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
}

.menu-btn.router-link-exact-active {
  border-bottom: 2px #30a3f2 solid;
}

ul.game-menu {
  display: flex;
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
  justify-content: space-around;
}

ul.game-menu li {
  text-align: left;
}

ul.lootbox-list {
  padding-left: 0;
  list-style: none;
}

ul.lootbox-list li  button{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 20px;
  background: none;
  border: 1px #000 solid;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

ul.lootbox-list > li {
  text-align: left;
  padding-bottom: 15px;
}

ul.lootbox-list > li > ul {
  padding-left: 20px;
}

ul.lootbox-list li  button span {
  display: block;
}

.new-item-message {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  transform: translateX(-100%);
  transition: 800ms all ease-out;
  opacity: 0;
}

.new-item-message.active {
  opacity: 1;
  transform: translateX(0);
}

.new-item-message.active {
  display: flex;
}

.new-item-message h1 {
  width: 100%;
  font-size: 400%;
  font-weight: 900;
  transform: translateX(-100%);
  transition: 600ms all ease-out;
  transition-delay: 300ms;
}

.new-item-message h2 {
  width: 100%;
  margin-top: 0;
  font-size: 300%;
  transform: translateX(-100%);
  transition: 600ms all ease-out;
  transition-delay: 500ms;
}

.new-item-message.active h1 {
  transform: translateX(0);
}
.new-item-message.active h2 {
  transform: translateX(0);
}

